.AuthPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 254px;
    min-height: 309px;
    padding: 21px 77px 70px 69px;
    display: flex;
    flex-direction: column;
}

.logoBlock {
    text-align: center;
}

.logo {
    margin-bottom: 15px;
}

.title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 30px;
}

.inputsBlock {
    margin-bottom: 20px;
}

.inputWrapper {
    position: relative;
}

.inputWrapper:not(:last-child) {
    margin-bottom: 25px;
}

.input {
    border: 1px solid rgba(192, 192, 192, 0.6);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat";
    padding: 12px 10px;
    font-size: 0.75rem;
    transition: 0.3s ease;
    outline: none;
    color: #000000;
    font-weight: 400;
}

.input:hover {
    border-color: rgba(153, 149, 149, 0.60);
}

.input:active, .input:focus {
    border-color: rgba(114, 107, 107, 0.60);
}

.input::placeholder {
    font-weight: 600;
    color: rgba(97, 99, 105, 0.60);
}

.formRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formRow:not(:last-child) {
    margin-bottom: 12px;
}

.submitButton {
    font-family: "Montserrat";
    transition: 0.3s ease;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
}

.shortButton {
    padding: 6.5px 20px;
}

.longButton {
    width: 184px;
    height: 39px;
}

.grayButton {
    background: #B4B4B4;
    color: #ffffff;
    border: 1px solid transparent;
}

.grayButton:hover {
    border: 1px solid rgba(153, 149, 149, 0.60);
}

.grayButton:active, .grayButton:focus {
    background: rgba(114, 107, 107, 0.60);
}

.formLink {
    color: #828282;
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.formLink:hover {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.formLink:active, .formLink:focus {
    color: #797878;
}

.customCheckboxText {
    font-size: 10px;
    font-weight: 600;
    color: rgba(97, 99, 105, 0.60);
}

.formParagraph {
    margin-block-start: 0;
    margin-block-end: 25px;
    color: #828282;
    font-size: 0.75rem;
    font-weight: 600;
}

.rightForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 400px) {
    .AuthPage {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
}