.listWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3.3333334%;
    margin: 60px 0 0;
}

.emptyTitle {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.button {
    transition: 0.3s ease;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
}

.button:not(:last-child) {
    margin-bottom: 20px;
}

.addButton {
    border-radius: 10px;
    background: var(--fill-light-grey, #F0EFEF);
    padding: 19px 26px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.addButton:hover {
    background: var(--grey-text-fields, rgba(175, 172, 172, 0.40));
}

.addButton:active {
    background: var(--fill-grey, #BBB5B5);
}

.removeButton {
    color: #E51428;
    background: transparent;
}

.removeButton:hover {
    color: rgba(229, 20, 40, 0.50);
}

.removeButton:active {
    color: var(--red, #D40209);
}

@media screen and (max-width: 1064px) {
    .listWrapper {
        gap: 3.5%;
    }
}

@media screen and (max-width: 790px) {
    .listWrapper {
        gap: 4%;
    }
}

@media screen and (max-width: 530px) {
    .listWrapper {
        gap: 0;
        justify-content: center;
    }
}